@tailwind base;
@tailwind components;
@tailwind utilities;
.categories {
  @apply my-5 w-12 sm:w-16 md:w-24 text-[10px] md:text-base text-center uppercase py-[6px] md:py-2 cursor-pointer transition-all duration-500 ease-out md:hover:rounded-lg border hover:bg-black hover:text-white;
}
.btn {
  @apply text-center rounded-lg border border-gray-400 hover:border-gray-600 text-gray-600 hover:text-gray-800;
}
.icon {
  @apply transition-transform cursor-pointer fill-current p-1 bg-gray-100 rounded-full md:scale-[1.5] md:hover:scale-[1.7] active:scale-95;
}
.icons-container {
  @apply absolute top-0 bottom-0 right-0 px-2 md:px-6 pt-1 flex flex-col gap-2 md:gap-10 justify-center border-l border-white border-opacity-20 bg-white bg-opacity-10 animate-ease-to-left shadow-inner z-20;
}

.next-back {
  @apply capitalize sm:text-lg underline text-gray-600 hover:text-gray-800;
}

.pettern {
  @apply bg-hero-pattern bg-black;
}
.image-hover {
  @apply after:absolute after:w-full after:h-full after:top-0 after:left-0 after:bg-dark-gradient z-10;
}
.loader {
  width: 14px;
  height: 14px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  display: block;
  position: relative;
  color: #fff;
  box-sizing: border-box;
  animation: animloader 2s ease infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  color: #fff;
  position: absolute;
  left: 30px;
  top: 0;
  animation: animloader 2s 0.2s ease infinite;
}
.loader::before {
  animation-delay: 0.4s;
  left: 60px;
}

@keyframes animloader {
  0% {
    top: 0;
    color: black;
  }
  50% {
    top: 30px;
    color: rgba(255, 255, 255, 0.2);
  }
  100% {
    top: 0;
    color: black;
  }
}
